{% extends 'base.html.twig' %}

{% block title 'Popsleigh' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Popsleigh</h1>
        <p>La solution de covoiturage évènementiel</p>
    </div>

{% endblock %}
